@page "/{id:int?}"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@inject RecipeDbContext context;
@inject NavigationManager NavigationalManager;
<PageTitle>Recipes</PageTitle>
<RecipeDetailsModal Recipe="recipe" Callback="ClearRecipe" style="position:absolute;z-index:1000;" />
<div class="d-flex flex-column justify-content-between py-5" style="height:100vh;">
    <div>
        <h1 class="text-center">Recipes</h1>
        <div class="button-list mx-5 px-5">
            <div id="create-button">
                <NavLink href="/create-recipe">+</NavLink>
            </div>
            <button id="random-recipe" @onclick="()=>RandomRecipe()">
                Random
            </button>
            <div id="search-container">
                <input class="bg-light m-3 px-3 search w-10" type="text" @bind-value="searchTerm"
                    @oninput="UpdateFiltered" placeholder="Search..." />
            </div>
            <NavLink id="seasonal-map" href="/seasonal-map">Seasonal Map</NavLink>
        </div>
    </div>
    <RecipeCardList searchTerm="@searchTerm" OnClickCallback="@((Recipe recipe)=>ShowDetails(recipe))" />
</div>
@code {
    [Parameter] public int? id { get; set; }
    string? searchTerm { get; set; }
    Recipe? recipe { get; set; }
    List<Recipe>? recipes { get; set; }
    async Task RandomRecipe()
    {
        if (recipes == null)
        {
            recipes = await context.Recipes.Include(r => r.Ingredients).Include(r => r.Image).ToListAsync();
        }
        var random = new Random();
        var index = random.Next(0, recipes.Count);
        recipe = recipes[index];
    }
    void UpdateFiltered(ChangeEventArgs e)
    {
        searchTerm = e.Value?.ToString();
    }
    void ShowDetails(Recipe? recipe) => this.recipe = recipe;
    void ClearRecipe() => recipe = null;
}
<style>
    body {
        --inner-shadow: 0 0 5px #000 inset, 0 0 5px #fff inset;
        --yellow-pastel: #ffaa;
        background: conic-gradient(#faa, #aaf, #afa, #faf, #faa) fixed;
        backdrop-filter: blur(50px);
        display: flex;
        color: hsl(@(360 * 0.75)deg, 100%, 70%);
    }

    #create-button {
        background-color: var(--yellow-pastel);
        border-radius: 10rem;
        box-shadow: 2px 5px 5px #ffca inset, -2px -5px 5px #0002 inset;
        color: inherit;
        display: flex;
        font-size: 2rem;
        height: 4rem;
        padding-bottom: .2rem;
        place-content: center;
        place-items: center;
        width: 4rem;

        a {
            color: inherit;
            display: flex;
            height: 100%;
            place-content: center;
            place-items: center;
            text-decoration: none;
            width: 100%;
        }
    }

    #random-recipe {
        background-color: var(--yellow-pastel);
        border-radius: 10rem;
        border: none;
        box-shadow: 2px 5px 5px #ffca inset, -2px -5px 5px #0002 inset;
        color: inherit;
        font-size: 2rem;
        height: 4rem;
        padding-bottom: .2rem;
        padding-inline: 2rem;
        width: fit-content;
    }

    #search-container {
        background-color: var(--yellow-pastel);
        border-radius: 10rem;
        box-shadow: 2px 5px 5px #ffca inset, -2px -5px 5px #0002 inset;
    }

    #seasonal-map {
        background-color: var(--yellow-pastel);
        border-radius: 10rem;
        box-shadow: 2px 5px 5px #ffca inset, -2px -5px 5px #0002 inset;
        color: inherit;
        display: flex;
        font-size: 2rem;
        height: 4rem;
        padding-inline: 2rem;
        place-items: center;
        text-decoration: none;
        width: fit-content;
    }

    .button-list {
        display: flex;
        flex-wrap: wrap;
        place-content: space-evenly;
        place-items: center;
    }

    .recipe-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        min-height: 75vh;
        justify-content: center;
        padding: 2rem;
        min-width: fit-content;
    }

    .recipe-inner {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        min-height: 40vh;
        place-content: start;
        place-items: start;
        place-self: start;
        padding-block: 2rem;
    }

    .recipe-inner-inner {
        border-radius: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        height: 100%;
        justify-content: center;
        max-height: 75vh;
        overflow: auto;
        padding-block: 2rem;
        scrollbar-color: var(--yellow-pastel) transparent;
        scrollbar-width: auto;
        width: 100%;
    }

    .search {
        border-radius: 10rem;
        border: none;
        box-shadow: var(--inner-shadow);
        display: flex;
        font-size: 1.5rem;
        height: 40px;
        place-content: center;
        place-items: center;
        place-self: center;
    }
</style>